div{
    float: left;
    margin: 50px;
    width: 250px;
    height: 200px;
    text-align: center;
    background-color: aquamarine;
}

div{
    float: left;
    margin: 50px;
    width: 250px;
    height: 400px;
}
img{
    width: 250px;
    height: 150px;
}